<html>

<body>
    <div class="row">
        <div class="col-xs-12 button-row">
            <a href="#/expenses/new" class="btn btn-success btn-lg btn-block">
                <span class="glyphicon glyphicon-plus"></span> New expense
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 button-row">
            <ul class="list-group">
                <li ng-repeat="expense in expenses" class="list-group-item text-center vertical-center">
                    <zva-expense></zva-expense>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>